.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #EAE54C;
    color: #fff !important;
}
.cor{
    width: 25px; 
    height:25px; 
    box-shadow: 3px 3px 5px #ccc;
    margin-right: 10px;
}