.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #EAE54C;
    color: #fff !important;
}
.cor{
    width: 20px; 
    height:20px; 
    border-radius: 50%;
    border: 1.5px solid #000;
    margin-right: 10px;
}